.MeasurmentAndAbilities {
  color: #fffcf7;
  background: #b01307;
  border-radius: 1em;
  width: 20em;
  height: 10em;
  margin: 2em auto;
  padding-top: 1em;
}

.HeightAndWeight {
  display: flex;
  justify-content: space-between;
  margin: 1em 2em 2em 2em;
}

.Abilities {
  text-align: start;
  margin: 0 2em 0 2em;
  padding-bottom: 1em;
}

@media (min-width: 700px) {
  .MeasurmentAndAbilities {
    margin: 0;
    height: 12em;
  }
}
