.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, red, 70%, rgb(252, 187, 187));
}

.navbar > nav > ul {
  display: flex;
  gap: 1rem;
}

.main {
  flex-grow: 1;
}

.footer {
  background-color: red;
}
