.searchList{
    list-style: none;
    text-align: start;
    margin: 0px;
    padding: 0px;
}
.searchListItem {
    cursor: pointer;
    transition: background-color 0.3s;
}
  
  .searchListItem:hover {
    background-color: #888787;
  }
  .pokemonImg {
    height: 240px;
    width: 240px;
  }
  