#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url(./assets/background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
